
@theme{
    --color-bone-white: #F9F9F6;
    --color-regal-blue: #1C2C54;
    --color-light-gold: #C9A66B;
}
.navbar
{
    background-color: var(--color-regal-blue);
    color: var(--color-bone-white);
}
.navbar2
{
    background-color: #2c437d;
    color: var(--color-bone-white);
}

.navbar2 ul li{
    padding-top: 8px;
    padding-bottom: 4px;
    padding-inline: 4px;
}


.navbar2 ul li:hover{
    background-color: #3d589b;
}


.navLink, .navLink2
{
    color: #F9F9F6;
}

.navLink:hover, .navLink:active, .navLink:focus{
    color: #C9A66B;
}

.navLink:active, .navLink:focus{
    color: #C9A66B;
}

.navLink:focus, .navLink2:active, .navLink2:focus
{
    font-weight: var(--font-weight-bold);
}




.navLink:focus .accountOptions
{
    font-weight: normal;
}

.accountOptions
{
    background-color: #ececec;
    color: #424242;
}

.accountOptions li:hover{
    background-color: #7e7e7e;
}
.accountOptions:active, .accountOptions li:focus, .accountOptions li:active{
    font-weight: bold;
}

.btn{
    background-color: var(--color-light-gold);
}

